*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Start of main*/

#main{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: flex-end;
    margin-left: 10px;
    
}

#main h2{
    font-weight: lighter;
}

#main h1{
    font-size: 42px;
}

#main button{
    width: 40%;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    background-color:  rgb(223, 168, 178);
}

#main h2, #main h1, #main p, #main button{
    margin-top: 15px;
}

/*End of main*/

@media only screen and (min-width: 961px) {

    #main button{
        width: 15%;
        height: 50px;
        border-radius: 25px;
        font-size: 15px;
        background-color:  rgb(223, 168, 178);
    }

    #main{
        width: 50%;
    }

    #main h1{
        font-size: 82px;
    }
}