<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/Css/about.css" />
        <%- include('layouts/head.ejs') %>
    </head>
    <body>
        <%- include('layouts/navbar.ejs') %>
        <div id="vid">
            <div id="vide">
                <video src="/Videos/DIY.mp4" autoplay muted controls type="video/mp4"></video>
            </div>
        </div>
        <%- include('layouts/scripts.ejs') %>
    </body>
</html>