<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="/Css/contact.css" />
        <%- include('layouts/head.ejs') %>
    </head>
    <body>
        <%- include('layouts/navbar.ejs') %>
        <div id="main"><p>To book an appointment or for further inquiries use one of the three:</p>
            <div>
                <h2>Phone number:</h2>
                <p>08056152149</p>
            </div>
            <div>
                <h2>Email:</h2>
                <p><a href="mailto:richardopeseitan@gmail.com">blahblah@gmail.com</a></p>
            </div>
            <div>
                <h2>Social media:</h2>
                <a href="https://www.instagram.com/richysunisexsalon/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <%- include('layouts/scripts.ejs') %>
    </body>
</html>