<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Richy's Salon</title>
        <link href="/Css/index.css" rel="stylesheet" />
        <%- include('layouts/head.ejs') %>
    </head>
    <body>
        <%- include('layouts/navbar.ejs') %>
        <div id="main">
            <h2>Welcome To</h2>
            <h1>Richys Salon</h1>
            <p>Step into a world where beauty meets artistry and every strand of hair tells a story. At Richy’s, we specialize in creating stunning, 
                confidence-boosting styles tailored to celebrate the uniqueness of everyone. Whether you’re here for a bold transformation, a classic refresh, 
                or luxurious treatments, our skilled stylists are dedicated to delivering an experience that’s as exceptional as you are. Relax, unwind, 
                and let us pamper you in our warm and inviting space. Because at Richy’s it’s more than just hair—it’s about embracing your beauty, your way.
             </p>
            <button onclick="window.location.href ='/contact'">Contact Us</button>
        </div>
        <%- include('layouts/scripts.ejs') %>
    </body>
</html>