<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Richy's Salon</title>
        <link href="/Css/notFound.css" rel="stylesheet" />
        <%- include('layouts/head.ejs') %>
    </head>
    <body>
        <%- include('layouts/navbar.ejs') %>
        <div id="main">
            <h2>404 Page Not Found</h2>
        </div>
        <%- include('layouts/scripts.ejs') %>
    </body>
</html>